<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListView">

        <activity
            android:name="com.hcmute.edu.vn.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hcmute.edu.vn.activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name="com.hcmute.edu.vn.activity.RegisterActivity"
            android:exported="false" />

        <activity android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />

        <activity android:name="com.hcmute.edu.vn.activity.ProfileSetupActivity"
            android:exported="false" />

        <activity android:name="com.hcmute.edu.vn.activity.ProfileActivity"
            android:exported="false" />

        <activity android:name="com.hcmute.edu.vn.activity.NutritionActivity"
            android:exported="false" />

        <activity android:name="com.hcmute.edu.vn.activity.DetailMealActivity"
            android:exported="false" />

        <activity
            android:name=".activity.EquipmentSelectionActivity"
            android:exported="false"  />

        <activity
            android:name=".activity.MuscleSelectionActivity"
            android:exported="false"  />

        <activity
            android:name=".activity.CustomExerciseSelectionActivity"
            android:exported="false"  />

        <activity android:name="com.hcmute.edu.vn.activity.WorkoutDetailActivity" android:exported="false" />
        <activity android:name="com.hcmute.edu.vn.activity.ExerciseActivity" android:exported="false" />
        <activity android:name="com.hcmute.edu.vn.activity.ExerciseListActivity" android:exported="false" />
        <activity android:name="com.hcmute.edu.vn.activity.WorkoutActivity" android:exported="false" />
        <activity android:name=".activity.FoodListActivity" android:exported="false" />
        <activity android:name=".activity.FoodDetailActivity" android:exported="false" />
        <activity android:name=".activity.MealSearchActivity" android:exported="false"/>
        <receiver android:name=".receiver.WaterReminderReceiver" android:exported="false" />

        <activity android:name="com.hcmute.edu.vn.activity.ChatbotActivity" android:exported="false" />

        <receiver android:name="com.hcmute.edu.vn.receiver.WorkoutReminderReceiver" android:exported="false" />

    </application>

</manifest>
